/* CSS Document */
#navBar{
	width:98%;
	position:fixed;
	background:#333333;
	height:50px;
	padding:20px;
	border-bottom-style:solid;
	border-width:medium;
	border-color:#ead94c;
	}
#topSpacer{
	height:120px;
	width:100%;}
.main {
	margin: 0 auto;

	color: #d1d1d1;
	width: 80%;
	height:auto;
	
}
#logo{
	height:40px;
	line-height:40px;
	
	
	font-size:2em;
	font-weight:bold;
	width:25%;
	cursor:pointer;
	display:inline-block;
	}
#links{
	
	height:40px;
	line-height:40px;
	bottom: 0;
	width:40%;
	text-align:center;
	display:inline-block;
	cursor:pointer;
	}

#createNewButton{
	height:40px;
	line-height:40px;
	text-align:center;
	width:10%;
	background-color:#d1d1d1;
	color:#333333;
	float:right;
	cursor:pointer;
	display:inline-block;
	}
.joinSomeoneLinkLink{
	height:40px;
	line-height:40px;
	width:30%;
	cursor:pointer;
	}
#joinSomeoneLink{
	height:40px;
	line-height:40px;
	
	text-align:center;
	width:10%;
	vertical-align:middle;
	display:inline-block;
	margin-left:3%;
	float:right;
	cursor:pointer;
	}
#welcome {
/*	border-style:solid;
	border-width:medium;
	border-color:#ead94c;*/
	clear:both;
	text-align: center;
	padding:2%;
	font-size: 2em;
}
#welcome span {
	font-weight: bold;
}
#leftContainer {
	padding:2%;
	margin-top:5%;
	width: 65%;
	float: left;
}
#filetypes {
	margin-top: 5%;
	width: 26%;
	padding: 2%;
	float: right;
	border-style: solid;
	border-color: #ead94c;
	border-top-width: medium;
	border-bottom-width: medium;
}
#listTop {
	text-decoration: underline;
	font-size: 1.1em;
	width: 100%;
	font-weight: bold;
}
#filetypes ul {
	list-style-type: none;
}
#filetypes ul li {
	font-size: 0.9em;
	text-decoration: none;
}
#footer {
	clear: both;
	text-align: center;
	padding: 5%;
	margin-top: 50px;
}
#createNew {
	height: 70px;
	line-height: 70px;
	background-color: #00a9bc;/*blue*/
	width: 75%;
	text-align: center;
	cursor: pointer;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#meetSomeone {
	margin-top: 50px;
	width: 75%;
}
#loadDocForm {
	margin-top: 5%;
}
#error {
	clear: both;
	color: #dd7373/*pink*/
}
#exampleScreenShot{
	border-style:solid;
	border-width:medium;
	border-color:#ead94c;
	
	}



#fileNameText {
	display: inline-block;
	font-size: 22px;
	border: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	vertical-align: top;
	Height: 68px;
	width: 64%;
	padding-left: 2%;
	padding-right: 2%;
	margin: 0;
	color: #333333;
	background-color: #d1d1d1;/*light gray*/
	box-sizing: content-box;
}
#fileNameText:focus {
	outline: 0px solid transparent;
}
#indexSubmit {
	cursor: pointer;
	font-family: quicksand;
	display: inline-block;
	width: 28%;
	border: none;
	background: none;
	height: 70px;
	color: #d1d1d1;
	font-size: 14px;
	padding: 0px;
	margin: 0;
	text-align: center;
	background-color: #00a9bc;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#indexSubmit:focus {
	outline: 0px solid transparent;
}
#notice {
	font-size: 10px;
}
