/* CSS Document */
@font-face {
    font-family: quicksand;
    src:url(../Quicksand/Quicksand-Regular.ttf);
	}
	
.body{
	margin:0px;
	padding:0px;
	font-family: quicksand;
	background-color:#333333;
	color: #d1d1d1; /*light grey*/
	}
	p{
	    -webkit-margin-before: 0em;
	    -webkit-margin-after: 0em;
	    -webkit-margin-start: 0px;
	    -webkit-margin-end: 0px;
	}
body{
margin:0px;
padding:0px;	
}
a{
	text-decoration:none;
	color:#d1d1d1;
	}

	.nav-bar-left {
	display: inline-block;
	width: 75%;
	margin-left: -4px;
}
ul, li {
	margin: 0;
	padding: 0;
}

#navBar{
	z-index:1000000;
	width:100%;
	top: 0;
	left: 0;
	right: 0;
	position:fixed;
	background:#333333;
	padding:20px 35px;
	border-bottom: 5px solid #ead94c;
	box-sizing: border-box;
}

.nav-bar-right {
	display: inline-block;
	width: 25%;
	margin-left: -4px;
	text-align: right;
}
#logo{
	font-size: 2em;
	font-weight: bold;
	cursor: pointer;
	display: inline-block;
	vertical-align: middle;
	margin-top: -5px;
}
#joinSomeoneLink{
	cursor:pointer;
	}
.headerLink{
	display: inline-block;
	margin-left: 15px;
	margin-right: 15px;
}

#links{
	display:inline-block;
	vertical-align: middle;
}
#headerFileInfo{
	padding-left:20%;
	display:inline-block;
	vertical-align: middle;
	}
.nav-button {
	display: inline-block;
	padding: 12px 20px;
}

#createNew{
	cursor:pointer;
	background-color:#d1d1d1;
	color:#333333;
}
#topSpacer{
	height:85px;
	width:100%;
}
#meetSomeone {
	background:#333333;
	z-index:200;
	align-content:center;
	box-sizing:border-box;
	padding-top:110px;
	right:25px; 
	padding: 180px 25px 25px 25px;
	width:25%;
	display:none;
	/*margin-top: 50px;*/
	position:fixed;
	border-bottom: 5px solid #ead94c;
	border-left: 5px solid #ead94c;
	border-right: 5px solid #ead94c;
}
#meetSomeoneX{
	
	cursor:pointer;
	position:absolute;
	top:0px;
	right:0px;
	padding-right:15px;
	padding-top:15px;
	}
#meetSomeoneTitle{
	text-align:left;
	position:absolute;
	top:30px;
	left:25px;
	padding-top:45px;
	}
#meetSomeoneEnterCode{
	position:absolute;
	top:75px;
	left:25px;
	padding-top:45px;
	text-align:left;
	}
#loadDocForm {
	left:25px;
	position:absolute;
	top:150px;
}
#error {
	padding-top:5px;
	clear: both;
	color: #dd7373;/*pink*/
}